/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; 
  color: #333; 
  display: flex;
  flex-direction: column;
  height: 100vh; 
  align-items: center; 
}

/* Header */
header {
  background-color: #dd1738;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Main content */
#root {
  flex: 1;
  padding-top: 100px; 
  padding-bottom: 70px; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

/* Footer */
footer {
  background-color: #5a5c5e;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9rem;
}

/* Estilo adicional para el texto del footer */
footer p {
  font-family: 'Arial', sans-serif;
}

/* Formulario */
.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

/* General styles for the Pokémon list */
.pokemon-list {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
    max-height: 500px;
    overflow-y: auto;  
  
  
}

.pokemon-card {
  display: flex;
  flex-direction: row; 
  background-color: #f0f0f0; 
  padding: 15px;
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
}

.pokemon-label {
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.pokemon-value {
  color: #555;
}
